
.search-bar-input {
    height: 48px;
    padding: 0 11px;
    border-radius: 2.5px;
    transition: color .2s, background .2s, border-color .2s;
    color: #262626;
    background-color: #FFFFFF;
    font-size: 16px;
    border: 1px solid #f0f0f0;
}

.search-bar-input::-ms-clear {
    display: none;
}

.search-bar-input::placeholder {
    transition: opacity 0.15s, transform 0.15s, color 0.15s;
}

.search-bar-input:focus {
    color: #262626;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    outline: none;
}

.search-bar-input:focus::placeholder {
    opacity: 0;
    transform: translateY(-26px);
}

.content-table {
    border-collapse: collapse;
    margin: 5px 0;
    font-size: 0.9em;
    min-width: 600px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #06516E;
    color: #ffffff;
    text-align: left;
    font-weight: 500;
}

.content-table th {
    padding: 12px 15px;
    font-size: 1.5rem;
    font-weight: 600;
}


.warehouse-table {
    background-color: #ceebee;
}

.warehouse-table td {
    padding: 12px 15px;
    font-size: 1.2rem;
    font-weight: 500;
}

.location-table td {
    padding: 12px 15px;
    font-size: 1.3rem;
    font-weight: 500;
}

.location-table {
    border-bottom: 1px solid #dddddd;
}

.location-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.product-select-table {
    width: 100%;
}

.product-select-table td {
    padding: 10px 12px;
}

.product-select-table tr {
    border-bottom: 1px solid #dddddd;
    background-color: #FFFFFF;
    color: #4a4a4a;

}

.product-select-table tr:hover {
    border-bottom: 1px solid #dddddd;
    background-color: #06516E;
    color: #FFFFFF;

}

/*.product-select-table tr:nth-of-type(even) {*/
/*    background-color: #f3f3f3;*/
/*}*/


.search-bar-list {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.05);
}

.search-bar-list::-webkit-scrollbar {

    width: 11px;
    height: 8px;
    border-radius: 4px;
}

.search-bar-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    background-clip: content-box;
    border-radius: 4px;
}

.search-bar-list::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 4px;
}

.checkbox-box-1 {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #f3f3f3;
    color: #06516E;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.checkbox-box-2 {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #f3f3f3;
    color: #06516E;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/*.checkbox-box-1::after {*/
/*    content: '\2714';*/
/*    color: #06516E;*/
/*}*/

/*.checkbox-box-2::after {*/
/*    content: '\2714';*/
/*    color: #06516E;*/
/*}*/

.checkbox-input-1 {
    width: 16px;
    height: 16px;
    opacity: 0;
    position: absolute;
}

.checkbox-input-2 {
    width: 16px;
    height: 16px;
    opacity: 0;
    position: absolute;
}

/*.checkbox-input-1:checked + .checkbox-box-1 {*/
/*background-color: #06516E;*/
/*border-color: #06516E;*/
/*color: #f3f3f3;*/
/*}*/

.checkbox-input-1:checked + .checkbox-box-1::after {
    content: '\2714';
    color: #06516E;
}

/*.checkbox-input-2:checked + .checkbox-box-2 {*/
/*background-color: #06516E;*/
/*border-color: #06516E;*/
/*    color: #f3f3f3;*/
/*}*/

.checkbox-input-2:checked + .checkbox-box-2::after {
    content: '\2714';
    color: #06516E;
}

.collapse-row :hover {
    background-color: #147499;
}

.search-bar-container-1 {
    min-height: 100%;
    width: 80%;
    position: relative;
    margin: 2rem auto 0 auto;
}

@media (max-width: 540px) {
.search-bar-container-1 {
    min-height: 100%;
    width: 95%;
    position: relative;
    margin: 2rem auto 0 auto;
}
}